<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My first AngularJS app</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
</head>
<body>
    <div ng-app="myFirstApp" ng-controller="myFirstController" ng-mouseenter="showVar=true" ng-mouseleave="showVar=false">
        <form name="myForm">
        <p> Name: <input type="text" name="username" ng-model="name" ng-required="true"></p> <!--name="world" because we are using the controller's scope instead of $rootScope--> 
        </form>
        <p ng-click="reset()" ng-show="myForm.username.$valid"> Hello, {{name}}!</p>
        <my-first-directive ng-init="name='world'" ng-show="showVar"></my-first-directive>
    </div>
    <script>
        var app = angular.module("myFirstApp", []);

        app.run(function($rootScope) {
            $rootScope.name = "World";
        });

        app.controller('myFirstController', function($scope, $location) {
            $scope.name = "world!!!";
            $scope.myUrl = $location.absUrl();
            $scope.showVar = false;
            $scope.reset = function() {
                $scope.name = " ";
            };
        });

        app.directive("myFirstDirective", function() {
            return {
                restrict : "EACM", // can be invoked by element, attribute, class or comment respectively
                template : "<p>{{myUrl | lowercase}}</p>"
            };
        });
    </script>
</body>
</html>